body{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgb(40,84,126);
}
.main{
    width: 400px;
    height: 350px;
    background-color: rgb(241,70,110);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 2px red;
}
.first{
    display: flex;
    justify-content: space-evenly;
}
.clear{
    width: 50px;
    height: 50px;
    background-color: rgb(255,211,105);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.display{
    width: 300px;
    height: 50px;
    background-color: rgb(40,84,126);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.second{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
}
.number7{
    width: 50px;
    height: 50px;
    background-color: rgb(40,84,126);
    border-radius: 10px;
     display: flex;
    justify-content: center;
    align-items: center;

}
.number8{
    width: 50px;
    height: 50px;
    background-color: rgb(40,84,126);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.number9{
    width: 50px;
    height: 50px;
    background-color: rgb(40,84,126);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mul{
    width: 50px;
    height: 50px;
    background-color: rgb(255,211,105);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.third{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
}
.number4{
    width: 50px;
    height: 50px;
    background-color: rgb(40,84,126);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.number5{
    width: 50px;
    height: 50px;
    background-color: rgb(40,84,126);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.number6{
    width: 50px;
    height: 50px;
    background-color: rgb(40,84,126);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.divide{
    width: 50px;
    height: 50px;
    background-color: rgb(255,211,105);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fourth{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
}
.number1{
    width: 50px;
    height: 50px;
    background-color: rgb(40,84,126);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.number2{
    width: 50px;
    height: 50px;
    background-color: rgb(40,84,126);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.number3{
    width: 50px;
    height: 50px;
    background-color: rgb(40,84,126);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus{
    width: 50px;
    height: 50px;
    background-color: rgb(255,211,105);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fifth{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
}
.dot{
    width: 50px;
    height: 50px;
    background-color: rgb(40,84,126);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zero{
    width: 50px;
    height: 50px;
    background-color: rgb(40,84,126);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.equals{
    width: 50px;
    height: 50px;
    background-color: rgb(5,214,160);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtract{
    width: 50px;
    height: 50px;
    background-color: rgb(255,211,105);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}